<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="AutoClicker"
			 Manufacturer="YourCompany"
			 Version="1.0.0.0"
			 UpgradeCode="8ABC3690-897A-4ED5-BF43-8C8255A438FE" <!-- Zastąp prawdziwym GUID -->
		Compressed="yes">

		<MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<!-- Główne pliki -->
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="Program Files">
				<Directory Id="INSTALLFOLDER" Name="AutoClicker">

					<!-- Główny plik EXE -->
					<Component Id="MainExecutable" Guid="8BB9AC2B-65A2-4366-A10F-18E817A69E6F">
						<File Source="$(var.AutoClicker.TargetPath)" />
					</Component>

					<!-- Plik konfiguracyjny -->
					<Component Id="ConfigFile" Guid="08307A0C-6D90-4520-87A4-A03A5863D8C9">
						<File Source="$(var.AutoClicker.TargetDir)AutoClicker.exe.config" />
					</Component>

					<!-- Ikona -->
					<Component Id="IconFile" Guid="0FCE479A-DD3A-419F-9206-99B31751719A">
						<File Source="$(var.AutoClicker.ProjectDir)click_78398.ico" />
					</Component>

				</Directory>
			</Directory>
		</DirectoryRef>

		<!-- Skróty -->
		<ShortcutDirectory Id="ProgramMenuFolder" Name="Programs" />
		<ShortcutDirectory Id="DesktopFolder" Name="Desktop" />

		<Feature Id="MainFeature" Title="Main Components">
			<ComponentRef Id="MainExecutable" />
			<ComponentRef Id="ConfigFile" />
			<ComponentRef Id="IconFile" />

			<!-- Skrót w menu Start -->
			<ComponentGroupRef Id="ProgramMenuShortcuts" />

			<!-- Skrót na pulpicie -->
			<ComponentGroupRef Id="DesktopShortcuts" />
		</Feature>

		<!-- Definicje skrótów -->
		<Fragment>
			<ComponentGroup Id="ProgramMenuShortcuts">
				<Component Directory="ProgramMenuFolder">
					<Shortcut Name="AutoClicker"
							  Target="[INSTALLFOLDER]AutoClicker.exe"
							  WorkingDirectory="INSTALLFOLDER"/>
					<RemoveFolder Id="ProgramMenuFolder" On="uninstall"/>
				</Component>
			</ComponentGroup>

			<ComponentGroup Id="DesktopShortcuts">
				<Component Directory="DesktopFolder">
					<Shortcut Name="AutoClicker"
							  Target="[INSTALLFOLDER]AutoClicker.exe"
							  WorkingDirectory="INSTALLFOLDER"/>
				</Component>
			</ComponentGroup>
		</Fragment>

	</Package>
</Wix>